.recipe {
  padding: 0.5em;
  padding-top: 3.5em;

  .section-dropdown {
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: transparent;
    border-left: 2px solid #ddd;
    transition: box-shadow 1s ease-in-out;
    &.open {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .section-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;
      font-size: 1.1em;
      color: #333;
      font-weight: bold;
    }
    .dropdown-icon {
      font-size: 0.9em;
      color: #999;
    }
    .section-content {
      padding: 10px;

      border-top: 1px solid #e0e0e0;
    }
    .recipes-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .recipe-item {
      padding: 5px 0;
      color: #666;
      font-size: 0.95em;
    }
    .nested-sections {
      margin-top: 10px;
      padding-left: 15px;
    }
    .nested-sections .section-dropdown {
      margin-top: 5px;
    }

    .section-header:hover {
      color: #3a3a3a;
    }
  }
  .add-section-button {
    margin-top: 10px;

    background-color: transparent;
    border: none;

    width: 100%;
    color: #333;

    display: flex;
    gap: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    input {
      background-color: transparent;
      border: none;
      flex-grow: 1;
      outline: none;
    }
    svg {
      width: 1em;
    }
  }
  .recipe-form {
    .zen-title {
      text-align: center;
      font-size: 1.6em;
      color: #2e3b3a;
      margin-bottom: 20px;
    }

    .zen-subtitle {
      color: #5a736b;
      font-weight: normal;
      font-size: 1.2em;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .zen-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .zen-label {
      color: #607d7c;
      font-weight: normal;
    }
    input[type="number"] {
      width: 3em;
      text-align: center;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: none;
      resize: none;
      background-color: transparent;
      border-radius: 5px;

      color: #333;
      transition: border 0.3s ease;
    }

    input:focus,
    textarea:focus {
      outline: none;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .zen-select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;

      border: 1px solid #dfe5e4;
      border-radius: 5px;
      background-color: #fbfcfc;
      color: #333;
      transition: border 0.3s ease;
    }

    .zen-select:focus {
      outline: none;
      border: 1px solid #a2c7c6;
    }
    .zen-item {
      margin: 10px 0;
      font-size: small;
      background-color: #eff6f5;
      border-radius: 8px;

      display: flex;
    }

    .zen-button {
      display: inline-block;
      padding: 8px 16px;
      margin-top: 15px;
      border-radius: 5px;
      background-color: #8ebfbc;
      color: #fff;
      font-size: 1em;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .zen-button:hover {
      background-color: #72a6a4;
    }

    .zen-submit {
      width: 100%;
      background-color: #5e8685;
    }

    .zen-submit:hover {
      background-color: #4e6e6d;
    }
  }
}
