.server-connection-loader {
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1005;
  background-color: #f8f4e3;
  opacity: 0;
  will-change: opacity;
  transition: 2s opacity ease-in;
  &.visible {
    opacity: 1;
  }
  .center-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
  .server-connection-welcome {
    width: 100%;
    text-align: center;
    font-weight: 900;
  }
  .bottom-left-content {
    position: absolute;
    bottom: 0;
    font-size: xx-small;
    left: 0;
  }
  .bottom-right-content {
    position: absolute;

    bottom: 0;
    right: 0;
  }
}
