.ANGELINA .Goal-add-button {
  background: linear-gradient(
    135deg,
    rgba(255, 153, 204, 0.8),
    rgba(255, 94, 126, 0.8),
    rgba(233, 30, 99, 0.8),
    rgba(212, 20, 90, 0.8)
  );
}
.MICHEL .Goal-add-button {
  background: linear-gradient(135deg, rgba(144, 224, 239, 0.8), rgba(0, 119, 182, 0.8), rgba(13, 59, 102, 0.8));
}
.ANGELINA .input-container-row.in-edit {
  background: linear-gradient(
    135deg,
    rgba(255, 153, 204, 0.8),
    rgba(255, 94, 126, 0.8),
    rgba(233, 30, 99, 0.8),
    rgba(212, 20, 90, 0.8)
  );
}
.MICHEL .input-container-row.in-edit {
  background: linear-gradient(135deg, rgba(144, 224, 239, 0.8), rgba(0, 119, 182, 0.8), rgba(13, 59, 102, 0.8));
}
.goal {
  padding-top: 4em;

  .Goal-add-button {
    width: 100%;
    background-color: #4f6457 !important;
    border: none;
  }
  .input-container-row {
    margin-top: 1em;
    border-radius: 1em;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;

    transition: box-shadow 0.5s ease;
    padding: 0.4em;
  }
  .input-container-row.in-edit {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &:focus-within {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .input-container-row-input {
      border-bottom: 1px solid black;
    }
  }
  .input-container-row-input {
    height: 100%;

    border: none;

    background-color: transparent;
    flex-grow: 1;
  }
  .input-container-row-input:focus {
    outline: none;
  }

  .input-container-row-button {
    height: 100%;
    margin-left: 0.2em;
    border-bottom-left-radius: none;
    float: right;
    width: 2.5em;

    border: none;
  }
}
