/* Container styling */
.zen-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;

  padding: 1em;
  margin: auto;
  opacity: 0; /* Initially hidden */
  transform: translateX(100px); /* Slide up animation */
  transition: opacity 0.9s ease, transform 0.9s ease-out;
}

.zen-slider-container.visible {
  opacity: 1;
  transform: translateX(0); /* Transition into view */
}
/* Title styling */
.zen-title {
  font-family: "Lora", serif; /* Clean, minimalist font */
  font-size: 1.8rem;
  color: black; /* Muted green */
  margin-bottom: 20px;
}
.ANGELINA .zen-slider {
  background: linear-gradient(
    135deg,
    rgba(255, 153, 204, 0.8),
    rgba(255, 94, 126, 0.8),
    rgba(233, 30, 99, 0.8),
    rgba(212, 20, 90, 0.8)
  );
}
.MICHEL .zen-slider {
  background: linear-gradient(135deg, rgba(144, 224, 239, 0.8), rgba(0, 119, 182, 0.8), rgba(13, 59, 102, 0.8));
}

/* Slider styling */
.zen-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #c9e4de, #4f6457); /* Calm gradient */
  border-radius: 20px;
  outline: none;
  transition: background 0.3s ease;
}
.ANGELINA .zen-slider::-webkit-slider-thumb {
  border: 2px solid rgba(212, 20, 90, 1);
  background: linear-gradient(
    135deg,
    rgba(255, 153, 204, 1),
    rgba(255, 94, 126, 1),
    rgba(233, 30, 99, 1),
    rgba(212, 20, 90, 1)
  );
}
.MICHEL .zen-slider::-webkit-slider-thumb {
  border: 2px solid rgba(13, 59, 102, 1);
  background: linear-gradient(135deg, rgba(144, 224, 239, 1), rgba(0, 119, 182, 1), rgba(13, 59, 102, 1));
}
/* Slider thumb styling */
.zen-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #f7f7f7; /* Soft white thumb */
  border: 2px solid #4f6457;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.zen-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #f7f7f7;
  border: 2px solid #4f6457;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Smooth scaling on hover */
.zen-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.zen-slider::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

.zen-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}

.zen-slider::-moz-range-thumb:active {
  transform: scale(1.2);
}

/* Slider value display */
.zen-value {
  font-size: 1.5rem;
  color: #333333;
  margin-top: 15px;
}
