.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.4em;
  overflow: hidden;
  flex-shrink: 0;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
      .col {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .page-button {
    transition: all 1s ease-in-out;
    font-family: "sherif font";
    height: 100%;
    border-top-left-radius: 1em;
    padding: 0.3em;
    border-top-right-radius: 1em;
    transform: translateY(1em);

    &.selected {
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      transform: translateY(0.4em);
    }
  }
}
