.transition-enter .row {
  opacity: 0;
  transform: translateY(3em);
  will-change: transform, opacity;
  transition: 0.7s opacity ease-in-out, 1s transform ease-in-out;
}
.transition-enter.visible .row {
  opacity: 1;
  transform: translateX(0);
}
@for $i from 1 through 15 {
  .transition-enter .row:nth-child(#{$i}) {
    transition-delay: #{($i - 1) * 100}ms; // Increment delay for each child
  }
}
.blink {
  animation: blink 2s ease-in-out infinite;
}
@keyframes blink {
  0%,
  100% {
    color: black;
  }
  50% {
    color: green;
  }
}
