.home {
  overflow: visible;
  padding: 0 !important;
  max-width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s ease-in-out;
  .home-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    transition: opacity 1s ease-in-out;
    &.visible {
      opacity: 1;
    }
  }
  .home-content-base {
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    .home-content-container {
      width: 300%;
      position: relative;

      height: 100%;
      .home-content {
        opacity: 0;
        padding-top: 3em;
        padding-bottom: 3em;
        width: 33.3333333%;

        overflow-x: hidden;
        overflow-y: scroll;
        top: 0;
        position: absolute;
        will-change: left, opacity, height, scale;
        display: inline-block;

        &.previous {
          opacity: 0;
          left: -100%;
          height: 200%;
          scale: 0.99;
          transition: opacity 1s ease-in-out, left 1s ease-in-out, scale 0.2s linear;
        }
        &.current {
          opacity: 1;
          left: 0%;
          height: 100%;
          scale: 1;
          transition: opacity 1s ease-in-out, left 1s ease-in-out, scale 0.2s linear 1s, height 0s linear 1.2s;
        }
        &.next {
          opacity: 0;
          left: 100%;
          height: 200%;
          scale: 0.99;
          transition: opacity 1s ease-in-out 0.2s, left 1s ease-in-out 0.2s, scale 0.2s linear;
        }
        @for $i from 1 through 10 {
          .row:nth-child(#{$i}) {
            transition-delay: #{($i - 1) * 100}ms; // Increment delay for each child
          }
        }
      }
    }
  }
}
