.visible .postit-input-container {
  transform: translateY(0) rotate(-3deg);
  opacity: 1;
  &.in-edit {
    transform: translateY(0) rotate(-0deg);
  }
}
.visible .postit-input-add-button {
  transform: translateY(0) rotate(-3deg);
  opacity: 1;
}

.postit-input-add-button {
  border-radius: 4px;
  margin: 10px;
  width: calc(100% - 20px);

  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  background-color: whitesmoke;
  transform: translateY(40px) rotate(0deg);
  color: #333;
  border: none;
  margin-bottom: 0.4em;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
}
.postit-input-container {
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
  font-size: 16px;
  color: #333;
  position: relative;
  margin: 10px;
  transform: translateY(40px) rotate(0deg);
  margin-bottom: 0.4em;
  will-change: transform, opacity;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  background-color: whitesmoke;
  padding: 0.6em;
  position: relative;
  .postit-input-container-header-name {
    flex-grow: 1;
    display: grid;
    font-weight: 900;
    align-items: end; /* Aligns items to the bottom */
  }
  .postit-input-container-header {
    width: 100%;
    .postit-input-container-buttons {
      button {
        padding: 0em;
        padding-left: 1em;
      }
    }
    input {
      border: none;
      font-weight: 900;
      background-color: transparent;
      width: 90%;
      &:focus {
        outline: none;
      }
    }

    border-bottom: solid 1px gray;
  }
  .postit-input-container-indicator {
    display: flex;
    margin-left: auto;
    justify-content: right;
    width: 100%;
    gap: 5px;

    svg {
      float: right;
      color: #333;
    }
  }
  .postit-input-container-description {
    margin-top: 0.4em;
    textarea {
      width: 100%;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }

  .postit-input-container-buttons {
    display: flex;

    justify-content: flex-end;

    button {
      border: none;
      background-color: transparent;
      color: #333;
    }
  }
  .postit-input-container-occurence-selector {
    label {
      margin-left: 1em;
    }
  }
  .zen-radio-label {
    display: inline-block;
    text-align: end;
    font-size: 1em;
    color: #4a4a4a;
    width: 44%;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    input {
      float: left;
      appearance: none;
      background-color: white;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #b3b3b3;
      transition: background-color 1s ease;
      cursor: pointer;
    }

    input:checked {
      background-color: #4a4a4a;
      border-color: #4a4a4a;
    }
  }

  .zen-radio-label:hover {
    background-color: #f4f4f4;
  }
}
